<?php
/**
* @version $Header: /cvsroot/bitweaver/_bit_sitehome/index.php.example,v 1.5 2009/10/01 14:17:05 wjames5 Exp $

* @package bitweaver
*/

// Copyright (c) 2002-2003, Luis Argerich, Garland Foster, Eduardo Polidor, et. al.
// All Rights Reserved. See below for details and a complete list of authors.
// Licensed under the GNU LESSER GENERAL PUBLIC LICENSE. See http://www.gnu.org/copyleft/lesser.html for details.

// this has to be checked first thing since safe_mode screws up everything
// to run bitweaver with safe_mode on, you should remove the following lines
//if( ini_get( 'safe_mode' ) ) {
//	echo '
//		<h1>Safe Mode check</h1>
//		We have detected that your server has <b>safe_mode</b> set to <b>on</b>.<br />
//		If you have access to the php.ini file or your service provider is willing, we recommend that you change this setting to <b>off</b><br />
//		To get bitweaver working with safe_mode active please click <a href="peartest.php">here</a>.<br />
//	';
//	die;
//}
define('ACTIVE_PACKAGE', 'sitehome');

require_once ('bit_setup_inc.php');

//vd( $_COOKIE );
//vd( $_SESSION );
global $gBitSystem, $gBitSmarty;

// $gBitSystem->loadLayout() needs ACTIVE_PACKAGE
if (!defined('ACTIVE_PACKAGE')) {
	installError();
}

if( !empty( $_REQUEST['content_id'] ) ) {
	if( $obj = LibertyBase::getLibertyObject( $_REQUEST['content_id'] ) ) {
		$url = $obj->getDisplayUrl();
		header( "Location: ".$url.( !empty( $_REQUEST['highlight'] ) ? '&highlight='.$_REQUEST['highlight'] : '' ) );
		die;
	}
} elseif ( !empty( $_REQUEST['structure_id'] ) ) {
	include( LIBERTY_PKG_PATH.'display_structure_inc.php' );
	die;
}
$gBitThemes->loadLayout();
if( !$gBitSystem->isDatabaseValid() ) {
	installError();
} elseif( $gBitSystem->isPackageActive( 'sitehome' ) ) {
	chdir (dirname( __FILE__ ).'/sitehome/');
	include_once( SITEHOME_PKG_PATH.'index.php' );
} elseif( isset($bit_index) || empty( $gBitSystem->mLayout[CENTER_COLUMN] ) ) {
	header ("location: ".$gBitSystem->getDefaultPage());
} else {

	global $gCenterPieces;
	$gCenterPieces = array();
	foreach( array_keys( $gBitSystem->mLayout ) as $key ) {
		if( $key == CENTER_COLUMN ) {
			for( $i = 0; $i < count( $gBitSystem->mLayout[$key] ); $i++ ) {
				array_push( $gCenterPieces, 'bitpackage:'.$gBitSystem->mLayout[$key][$i]['module_rsrc'] );
			}
		}
	}
	$gBitSmarty->assign_by_ref( 'gCenterPieces', $gCenterPieces );

	// Display the template
	$gBitSystem->display( 'bitpackage:kernel/dynamic.tpl');
	//$gBitSmarty->display("bitweaver.tpl");
}
?>
